[defaults]
{% set repodir = workdir + '/src/review.opencontrail.org/Juniper' %}
roles_path = {{ repodir }}/contrail-project-config/roles/:{{ repodir }}/zuul-jobs/roles/
nocows = 1
retry_files_enabled = False
stdout_callback = debug
